*.html linguist-detectable=true
*.css linguist-detectable=true
*.js linguist-detectable=true

# Opcionalmente marcar otros archivos como documentación
*.md linguist-documentation
*.txt linguist-documentation
*.man linguist-documentation
